<mat-toolbar color="primary">
   <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>AnimeFlix</span>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login
    </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
      Cadastro
    </button>
</mat-toolbar>
